[submodule "ext/opentimelineio"]
	path = ext/opentimelineio
	url = https://github.com/AcademySoftwareFoundation/OpenTimelineIO.git
[submodule "ext/LabMidi"]
	path = ext/LabMidi
	url = https://github.com/meshula/LabMidi.git
[submodule "ext/Tilengine"]
	path = ext/Tilengine
	url = https://github.com/meshula/Tilengine.git
[submodule "ext/usdtweak"]
	path = ext/usdtweak
	url = https://github.com/meshula/usdtweak.git
[submodule "ext/ozz-animation"]
	path = ext/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "cgltf_vrm"]
	path = cgltf_vrm
	url = https://github.com/tcoppex/cgltf_vrm.git
[submodule "ext/cgltf_vrm"]
	path = ext/cgltf_vrm
	url = https://github.com/meshula/cgltf_vrm.git
[submodule "ext/LabSound"]
	path = ext/LabSound
	url = git@github.com:LabSound/LabSound.git
