[submodule "ext/nativefiledialog"]
	path = ext/nativefiledialog
	url = https://github.com/meshula/nativefiledialog.git
[submodule "ext/implot"]
	path = ext/implot
	url = https://github.com/epezent/implot
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/meshula/imgui.git
[submodule "ext/ImGuiColorTextEdit"]
	path = ext/ImGuiColorTextEdit
	url = https://github.com/meshula/ImGuiColorTextEdit.git
[submodule "ext/opentimelineio"]
	path = ext/opentimelineio
	url = https://github.com/AcademySoftwareFoundation/OpenTimelineIO.git
[submodule "ext/ImGuiHydraEditor"]
	path = ext/ImGuiHydraEditor
	url = https://github.com/meshula/ImGuiHydraEditor.git
	branch = library
[submodule "ext/cppzmq"]
	path = ext/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "ext/libzmq"]
	path = ext/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "ext/LabMidi"]
	path = ext/LabMidi
	url = https://github.com/meshula/LabMidi.git
[submodule "ext/Tilengine"]
	path = ext/Tilengine
	url = https://github.com/meshula/Tilengine.git
[submodule "ext/usdtweak"]
	path = ext/usdtweak
	url = https://github.com/meshula/usdtweak.git
[submodule "ext/ozz-animation"]
	path = ext/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "ext/implot3d"]
	path = ext/implot3d
	url = https://github.com/brenocq/implot3d.git
